In [6]:
fruits = ["apple", "banana", "orange", "pineapple"]
fruits.reverse()
print(fruits)

['pineapple', 'orange', 'banana', 'apple']

In [7]:
fruits = ["apple", "banana", "orange", "pineapple"]
veges = fruits + ["spinach", "potato"]
print(veges)

['apple', 'banana', 'orange', 'pineapple', 'spinach', 'potato']

In [8]:
alphabet = "mlkjshatefaldabcdgethruriansldsa"
alphabet.sort()
print(alphabet)

AttributeError: 'str' object has no attribute 'sort'

In [10]:
fruits = ["apple", "banana", "orange", "pineapple", "appricot"]
veges = fruits + ["spinach", "potato"]
veges.sort()
print(veges)

['apple', 'appricot', 'banana', 'orange', 'pineapple', 'potato', 'spinach']

In [11]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9]
num.sort(reverse=True)
print(num)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
tuple_ex = {"apple", "banana", "orange", "pineapple", "appricot"}
print(tuple_ex[0])

TypeError: 'set' object is not subscriptable

In [13]:
tuple_ex = {"apple", "banana", "orange", "pineapple", "appricot"}
print(tuple_ex{0})

SyntaxError: invalid syntax (1526910852.py, line 2)

In [14]:
tuple_ex = {"apple", "banana", "orange", "pineapple", "appricot"}
print(tuple_ex[1])

TypeError: 'set' object is not subscriptable

In [21]:
list_ex = ["apple", "banana", "orange", "pineapple", "appricot"]
list_ex.append("blueberry")
print(list_ex)

['apple', 'banana', 'orange', 'pineapple', 'appricot', 'blueberry']

In [24]:
# list objects are editable and assigned in square brackets []
name = ["Hamza", "Anwar", "Tasnia", "Sultana"]
print(name[:3])

['Hamza', 'Anwar', 'Tasnia']

In [33]:
# tuples are not editable and are either assigned in paranthesis () or without it since python automatically converts comma-separated values into a tuple
name = [("Hamza", "Anwar", "Tasnia", "Sultana")]
print(type(name))

<class 'list'>

In [38]:
a_tuple = 23, "hello", False, None, 23, 27, "hello"
print(a_tuple.index)

<built-in method index of tuple object at 0x7f72b2d24040>

In [47]:
# Dictionary is an unordered collection of items. Each item store in a dictionary has a key and value
person1 = {
    'name' : 'John Doe',
    'sex' : 'male',
    'age' : 32,
    'married' : True
}

print(person1)
person1['name']
person1.keys()
person1.values()

{'name': 'John Doe', 'sex': 'male', 'age': 32, 'married': True}

dict_values(['John Doe', 'male', 32, True])

In [55]:
number = 34
if number % 2 == 0:
    print("we are inside an if block")
    print(f"The given number {number} is even.")

we are inside an if block
The given number 34 is even.

In [56]:
%%time
result = 1
i = 1

while i <= 1000:
    result = result + 1
    i += 1
print("Factorial of 1000 is {}".format(result))

Factorial of 1000 is 1001
CPU times: user 427 µs, sys: 131 µs, total: 558 µs
Wall time: 565 µs

In [ ]:
result = 1
i = 1

while i > 0:
    result *= i
    i += 1